# .npmrc

# 使用淘宝镜像
registry=https://registry.npmmirror.com

# better-sqlite3 预编译二进制文件镜像
better_sqlite3_binary_host=https://npmmirror.com/mirrors/better-sqlite3

# Electron 镜像
electron_mirror=https://npmmirror.com/mirrors/electron/

# Sharp 预编译二进制文件镜像
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips

# 其他常用镜像
sass_binary_site=https://npmmirror.com/mirrors/node-sass
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
