#ImageViewer {
    position: fixed;
    width: 450px;
    min-height: 450px;

    padding: 0.5em;
    background-color: white;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#ImageViewer img { flex-grow: 1;    max-height: 85vh; }