.ToolBar {
    display: flex;
    justify-content: space-between;
}
.ToolBar>.LeftDiv>button {
    margin: 5px;
}
.ToolBar>.RightDiv {
    padding-right: 10px;
}
.ToolBar>.RightDiv>.chakra-form-control {
    margin-left: 15px;
}