.FormLabel {
    user-select: none;
    text-align: right;
    width: 120px;
    margin-bottom: 0!important;
}
.FormControl > .FormControl > .FormLabel {
    width: auto;
    margin-left: 10px;
}
.FormControl {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 52px;
    width: auto!important;
}

.FormPanel {
    height: 100%;
    overflow: auto;
}

.ConfigOverview {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 300px;
    height: 300px;
    padding: 10px;
    background-color: darkgrey;
}

.ConfigOverviewPage {
    background-color: #fff;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 90px;
    flex-wrap: wrap;
}

.ConfigOverviewPage div{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: aliceblue;
}