.Card {
    width: 225px;
    height: 280px;
    user-select: none;
    margin: 6px;
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Card:hover {
    /*background-color: var(--chakra-colors-gray-100);*/

}
.Card .MuiTextField-root {
    margin: 0;
}
.Card .MuiTextField-root input {
    padding: 1px 2px;
    background-color: Transparent;
    border-width: 2px;
}
.Card .MuiButton-text {
    color: #fff
}
.Card .AddCardButton {
    width: 100%;
    height: 230px;
    font-size: 100px;
}

.CardBar {
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.CardMain {
    padding: 5px;
    position: relative;
}
.CardListContainer {
    flex-grow: 1;
    overflow-y: auto;
}
.CardList {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.CardDragHandler {
    display: flex;
    cursor: move;
}
.CardImage {
    object-fit: contain!important;
    -webkit-user-drag: none;
    transition: width 0.1s, height 0.1s;
}

.CardOwnConfigDiv {
    position: absolute;
    bottom: 6px;
    width: 120px;
    font-size: 0.6rem;
    color:#fff!important;
    display: flex;
    left: 43px;
}
.CardOwnConfigDiv div, .CardOwnConfigDiv pre {
    margin: 0;
    padding: 1px;
}

.CardOwnConfigDiv pre {
    display: inline-block;
}