.reloadTableDiv .MuiTableHead-root th{
    background-color: #666666;
    color: #fff;
    font-weight: bold;
}
.reloadTableDiv .MuiTableBody-root td{
    background-color: #919191;
    color: #fff;
    word-break: break-all;
    white-space: normal;
}

.reloadTableDiv th.opCol {
    width: 90px!important;
    flex-grow: 0;
}
.reloadTableDiv th:not(.opCol) {
    width: 45%;
    flex-grow: 1;
    word-break: break-all;
    white-space: normal;
    cursor: initial;
}